<div class="section" id="contact">
    <h1>Liên Hệ</h1>
    <p>Để biết thêm thông tin, hãy liên hệ với chúng tôi qua:</p>
    <p>Điện thoại: 033-499-0980</p>
    <p>Email: nthaongan161@gmail.com</p>
</div>
